
/* font-size */

:root{
--fs-md:16px;
--fs-lg:36px;
--fs-xl:48px;
--fs-20:20px;
--fs-sm:14px;
--fs-12:12px
}
.fs-md{
    font-size: var(--fs-md);
}

.fs-12{
    font-size: var(--fs-12);
}

.fs-sm{
    font-size: var(--fs-14);
}
.fs-xl{
    font-size: var(--fs-xl);
}
/* color */

:root{
    --color-blue:rgba(44, 73, 254);
    --color-white:rgba(255,255,255);
    --color-black:rgba(0,0,0,1);
    --color-grey:rgba(102,102,102);
    --bg-blue:rgba(44, 73, 254);
    --bg-white:rgba(255, 255, 255);
    --bg-grey:rgba(102, 102, 102);
}
.color-grey {
    color: var(--color-grey) !important;
}
.bg-blue{
    background-color: var(--bg-blue);
}

.bg-grey{
    background-color: var(--bg-grey);
}

@media (max-width:768px) {
    :root {
        --fs-lg: 25px;
        --fs-xl: 30px;
    }
}
